.monument-style{
	height: 650px;
	width: 100%;
	
}
img{
	height: 600px;
	width: 95%;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left:45px;

}
.monument-style2{
	text-align: center;
	margin-top: -330px;
	color: white;
	font-size: 66px;
}

h2{
	font-size: 30px;
	letter-spacing: 1px;
	color:#a74f0e;
	margin-left:120px;
}
.food-subtitle{
	margin-left:120px;
	letter-spacing: 1px;
	word-spacing: 2px;
	margin-top: -10px;
	margin-right: 105px;
	font-size: 17px;
}
.food-pic{
	height: 500px;
	width: 85%;
	border-radius:12px;
	margin-bottom: 20px;
	margin-left:120px;
}
.Pasanda-Kebabs{
	font-size: 30px;
	letter-spacing: 1px;
	color:#845b31;
	margin-left:120px;
}
.Shami-Kebabs{
	font-size: 30px;
	letter-spacing: 1px;
	color:#431b0a;
	margin-left:120px;
}
.Lakhnavi-Biryani{
	font-size: 30px;
	letter-spacing: 1px;
	color:#943c07;
	margin-left:120px;
}
.Basket-Chaat{
	font-size: 30px;
	letter-spacing: 1px;
	color:#e60a1d;
	margin-left:120px;
}
.Zafrani-Kheer{
	font-size: 30px;
	letter-spacing: 1px;
	color:#412d25;
	margin-left:120px;
}