
.monument-style{
	height: 650px;
	width: 100%;
	
}
img{
	height: 600px;
	width: 95%;
	
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left:45px;

}
.monument-style2{
	text-align: center;
	margin-top: -330px;
	color: white;
	font-size: 66px;
}
.monument-style3{
	height:210px;
	width: 100%;
	background-color: #584458;
	margin-top: -67px;

}

.monument-style4{
	margin-left: 41px;
	margin-right: 40;
	background-color:white;
	letter-spacing: 1px;
	word-spacing: 1px;
	font-size: 18px;
	padding: 4px;
	
}